body{
    background-color: black;
}

/* p{
    color: white;
} */
.todo{
    height: 100vh;
    display:flex;
    justify-content: center;
    
}
.todofunction{
    width: 60%;
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap:20px

}
.todofunction input{
    width: 100%;
    height: 2rem;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  
}

button{
    background-color: rgb(25, 241, 25);
    color: black;
    padding: 10px;
    border-radius: 50px;
    height: 5%;
    
}
  

